<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>

<body class="page-center">

<div class="card">
    <h2>Change Password</h2>

    <form th:action="@{/user/change-password}" method="post">

        <label>New Password</label>
        <input type="password" name="newPassword" required>

        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" required>

        <button type="submit">Update</button>

    </form>
</div>

</body>
</html>
